@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=latin-ext");
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

section {
  min-height: 100vh;
  width: 100%;
  padding: 20px 10px;
  background-color: #010510;
  color: #fff; }
  section h2 {
    text-align: center;
    font-size: 42px; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  min-height: 100vh; }
  nav .menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto; }
    nav .menu svg {
      cursor: pointer; }
  nav .social {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    nav .social a {
      display: block;
      text-align: center;
      width: fit-content;
      margin: 10px auto;
      fill: #fff;
      transition: all 0.3s linear; }
      nav .social a.facebook:hover {
        fill: #3b5999; }
      nav .social a.youtube:hover {
        fill: #cd201f; }
      nav .social a.twitter:hover {
        fill: #55acee; }
      nav .social a.twitch:hover {
        fill: #833ab4; }
      nav .social a.instagram:hover {
        fill: #e4405f; }

.main-logo {
  position: fixed;
  width: max-content;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto; }
  .main-logo img {
    width: 200px; }

.container {
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (min-width: 1400px) {
    .container {
      max-width: 1300px; } }

#hero {
  background-image: url("../images/kraken-studio.jpg");
  background-position: center;
  background-size: cover; }
  #hero .title {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center; }
    #hero .title h1 {
      text-align: center;
      font-size: 53px;
      font-weight: 700;
      color: #fff;
      line-height: 80px; }
  #hero .scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #hero .scroll span {
      display: block;
      color: #fff;
      margin-bottom: 10px;
      font-size: 36px;
      font-weight: 100; }
    #hero .scroll .vert-line {
      width: 3px;
      height: 80px;
      background-color: #fff; }

#about {
  padding: 40px 20px;
  color: #fff; }
  #about h2 {
    text-align: center;
    font-size: 53px; }
  #about .about-part {
    max-width: 800px;
    margin: 100px auto 150px;
    position: relative; }
    #about .about-part::before {
      color: #fff;
      font-weight: 100;
      position: absolute;
      font-size: 48px; }
    #about .about-part.part-left::before {
      top: 50px;
      left: -150px;
      transform: rotate(270deg); }
    #about .about-part.part-right {
      text-align: right; }
      #about .about-part.part-right::before {
        top: 50px;
        right: -150px;
        transform: rotate(90deg); }
    #about .about-part.p-one::before {
      content: "01 - KS"; }
    #about .about-part.p-two::before {
      content: "02 - KS"; }
    #about .about-part.p-three::before {
      content: "03 - KS"; }
    #about .about-part h3 {
      font-size: 36px;
      margin-bottom: 20px; }
    #about .about-part p {
      font-weight: 400;
      font-size: 28px;
      line-height: 60px; }
      #about .about-part p span {
        font-weight: 700; }

#contact {
  color: #fff;
  min-height: 30vh; }
  #contact h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 100px; }
  #contact .newsletter {
    text-align: center; }
    #contact .newsletter p {
      font-weight: 700;
      font-size: 28px;
      margin-bottom: 50px; }
  #contact .social-container .social {
    display: flex;
    flex-wrap: wrap; }
    #contact .social-container .social a {
      display: flex;
      align-items: center;
      text-decoration: unset;
      text-align: center;
      max-width: 200px;
      margin: 10px auto;
      color: #fff;
      font-weight: 700;
      fill: #fff;
      transition: all 0.3s linear; }
      #contact .social-container .social a svg {
        margin-right: 10px; }
      #contact .social-container .social a.facebook:hover {
        fill: #3b5999; }
      #contact .social-container .social a.youtube:hover {
        fill: #cd201f; }
      #contact .social-container .social a.twitter:hover {
        fill: #55acee; }
      #contact .social-container .social a.twitch:hover {
        fill: #833ab4; }
      #contact .social-container .social a.instagram:hover {
        fill: #e4405f; }

footer {
  background-color: #010510;
  color: #fff;
  text-align: center;
  font-size: 26px;
  padding: 20px; }

/*# sourceMappingURL=init.css.map */
