$bgColor        : #010510;


$cta            : #5274EF;
$primary        : #219653;
$qa             : #55efc4;


$youtube        : #cd201f;
$facebook       : #3b5999;
$twitter        : #55acee;
$twitch         : #833ab4;
$instagram      : #e4405f; 

$highlight      : #8070E3;
